<header>
    <h3>Bill Gates</h3>
</header>
<main>
    <div class="mainDiv">
    <div class="picDiv">
        <img src="../assets/BG.jpg" title="Bill Gates"/>
    </div>
    <div class="textDiv">
        <p>
            Вільям Генрі Гейтс III, народився 28 жовтня 1955 року в Сіетлі (США). Він був другою дитиною і єдиним сином у родині. Сім’я жила в достатку, і її поважали в місті. Часто в домі Гейтсів збиралися люди політичної та економічної еліти і вели жваві дискусії про економіку і політику. Звичайно ж, такі бесіди стимулювали інтереси Білла, у якого була підприємницька жилка.

У школі він проявляв особливі здібності до математики, а в 1963 р, після того як в школі, де вчився Білл, був відкритий комп’ютерний клас, він так зацікавився цим нововведенням, що на пару зі своїм другом Полом Алленом проводив весь вільний час за комп’ютером . Їм вдалося зламати систему і отримати доступ до прихованої інформації і, в кінці-кінців, молодих людей помітили і запросили працювати в муніципальну установа в Сіетлі. Біллу було 15 років, коли він написав програму оптимізації вуличного руху і утворив компанію «Треф Дейта» з її поширення. На цьому проекті він заробив 20 тисяч доларів.

У 1973 році Гейтс вступив до Гарвардського університету. У 1975 році разом з Полом Алленом заснував компанію Microsoft. На третьому курсі залишив університет, щоб повністю присвятити себе компанії (згодом в 2007 році був визнаний випускником Гарварду, отримав диплом).

У 1998 році Гейтс перестав бути президентом компанії, а в 2000 пішов з поста виконавчого директора. У червні 2008 року він віддав свої виконавчі повноваження в корпорації Microsoft, однак залишився головою Ради директорів.

У жовтні 2008 – заснував компанію bgC3 – дослідний центр в області аналітики, інформаційних технологій.
Джерело: https://dovidka.biz.ua/bill-geyts-biografiya
        </p>
    </div>
    </div>
</main>